src/main/mule/nexus-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6ac47644-a3b2-40bc-ac06-d986036adce5" >
		<http:listener-connection host="0.0.0.0" port="8090" />
	</http:listener-config>
	<flow name="nexus-demoFlow" doc:id="cd6ac384-273e-43e2-8b14-4cfa14bcfa85" >
		<http:listener doc:name="Listener" doc:id="67c75a01-4639-44d9-a2ba-61a16a99d34c" config-ref="HTTP_Listener_config" path="/nexus"/>
		<set-payload value="#['Welcome']" doc:name="Set Payload" doc:id="6184b78e-9b58-4834-81f9-0e2e36340bc4" />
	</flow>
</mule>
